.scroll-top-wrapper {
  background: #f7941d;
  bottom: 82px;
  display: none;
  position: fixed;
  right: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 13px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px;
  z-index: 9999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background: #111;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.fa.social {
  font-size: 45px;
  margin-right: 5px;
}
#social-fb:hover {
  color: #3b5998;
}
#social-tw:hover {
  color: #4099ff;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}
